@charset "UTF-8";

html, body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(82, 129, 247);
    background-image: url(imagens/fundo-removebg-preview.png);
    background-repeat: no-repeat;
    height: 95vh;
    background-position: bottom left;
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.47);
}

div{
    text-align: center;
    padding: 10px;
}

div img{
    border-radius: 50%;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

@media screen and (max-width:650px) {
    section{
        width: 80vw;
    }
}