@charset "UTF-8";

html,body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 95vh;
    background-color: rgb(94, 140, 254);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
    font-size: 20px;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.471);
}

div {
    padding: 15px;
}

footer {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

@media screen and (max-width:600px) {
    section {
        width: 85vw;
    }
    
}
